/* Reset dasar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

@media (max-width: 480px) {
html{
    scroll-behavior: smooth;
      overflow-x: hidden;
    scrollbar-width: thin; /* Membuat scrollbar menjadi tipis */
    scrollbar-color: #ffffff #ffffff; /* Warna thumb dan track */

}



body{
    background-image: url(fotosatuan1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    z-index: 9000;
}


video{
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: transparent  ;
    background-color: darkorange; /* Warna background gelap */
    color: white;
    padding: 1rem 2rem;
    position: sticky;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9000;
    box-shadow: 0 7px 5px 0 rgb(63, 63, 63);
   
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* Styling Menu Links (Desktop) */
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
    
}

.nav-links li a:hover {
    color: #979393; /* Warna saat kursor di atas menu */
}

/* Styling Hamburger Icon (Hidden di Desktop) */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}




h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}


h2{
    margin: 20px 20px 20px 20px;
    padding-top: 100px;
    font-size: 100px;
    float: left;
    color: white;

}


.HM{
    font-size: 40px;    
}

.judulporto{
    font-size: 50px;
    text-decoration: 2px underline  darkorange;
    font-family: Arial, Helvetica, sans-serif;
}




section {
    height: 620px; /* Setiap section setinggi layar */
    width: 100%;
    padding: 20px;
}
#Home { background-color:rgb(0, 0, 0); 
width: 100%;
}

#about { background-color:rgb(0, 0, 0); 
width: 100%;
}
#profil{background-color: rgb(0, 0, 0);
width: 100%;
}
#galery { background-color:rgb(0, 0, 0); 
width: 100%;
}
#kontak{ background-color:rgb(0, 0, 0);
width: 100%;
}



mark{
    
    cursor: pointer;
}

abbr{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
   
}















body { font-family: sans-serif; margin: 0; }

.loader {
  width:215px;
  height: 215px;
  display: block;
  padding-left: 21px;
  margin-left: -30px;
  position: relative;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 7px 7px 30px darkorange;
  border-radius: 50px 50px 50px 0px;
}



  
.loader{
    float:left ;
    margin-right:30px;
    margin-bottom: 25px;
}



.bagportfolio,small{
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}





img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 30px;
}

input{
    width: 80%;
    height:10px;
    background-color: white;
}

.name{
    margin:2px 2px 2px 10px;
   margin-top: -10px;
}









.spinner {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
  border-right-color: darkorange;
  animation: l2  3s infinite linear;
}

.spinnerr {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
  border-right-color:darkorange;
  animation: l2 4s infinite linear;
}

.spinnerrr {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
  border-right-color: darkorange;
  animation: l2 5s infinite linear;
}

.spinner,.spinnerr,.spinnerrr{
    margin-top: 15px;
}
@keyframes l2 {to{transform: rotate(1turn)}}



.isian{
    width: 140px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
}





.isiann{
    width: 100px;
    background-color: darkorange;
    height:3px;
}

.hobi{
    color: white;
    margin-left: 100px;
}


.penjelasanhobi{
    color: rgb(0, 0, 0);
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
}

.small1{
    color: rgb(0, 0, 0);
    font-weight: 100;
}



#galerya{
    background-color: #000000;
}

.loader10 {
  width:215px;
  height: 215px;
  display: block;
  padding-left: 21px;
  margin-left: -30px;
  position: relative;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 7px 7px 30px darkorange;
  border-radius: 5px 50px 50px 50px;
}



  
.loader10{
    float:left ;
    margin-right:30px;
    margin-bottom: 25px;
}


.loader100 {
  width:215px;
  height: 215px;
  display: block;
  padding-left: 21px;
  margin-left: 58px;
  position: relative;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 7px 7px 30px darkorange;
  border-radius: 50px 5px 50px 50px;
  
}



  
.loader100{
    float:left ;
    margin-right:30px;
    margin-bottom: 25px;
}




.bagian11{
    padding-left: 130px;
}




.pengalaman{
    margin-left: 15px;
}





.akhir1{
    background-color: rgb(0, 0, 0);
    box-shadow: 7px 7px 30px 7px rgb(255, 255, 255);
width: 100%;
height: 400px;
margin: auto;
margin-top: 30px;
font-family: 'Courier New', Courier, monospace;

}

.penutup{
    color:white;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 100px;
   margin-left: 20px;

}


.tgl {
    color: white;
    font-size: 18px;
    padding-top: 10px;
    margin-left: 20px;
    
    
    
}

.logoo{
    color: white;
    margin: 80px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
     margin-top: 130px;
}


.marvel{
    color: white;
}





.puisi{
    color: white;
    text-align: left ;
    margin-top: 50px;
    font-size: 15px;
}

}


@media (min-width: 481px) and (max-width: 768px) {
html{
    scroll-behavior: smooth;
      overflow-x: hidden;
    scrollbar-width: thin; /* Membuat scrollbar menjadi tipis */
    scrollbar-color: #ffffff #ffffff; /* Warna thumb dan track */

}



body{
    background-image: url(fotosatuan1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    z-index: 9000;
}


video{
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: transparent  ;
    background-color: darkorange; /* Warna background gelap */
    color: white;
    padding: 1rem 2rem;
    position: sticky;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9000;
    box-shadow: 0 7px 5px 0 rgb(63, 63, 63);
   
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* Styling Menu Links (Desktop) */
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
    
}

.nav-links li a:hover {
    color: #979393; /* Warna saat kursor di atas menu */
}

/* Styling Hamburger Icon (Hidden di Desktop) */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}




h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}


h2{
    margin: 20px 20px 20px 20px;
    padding-top: 100px;
    font-size: 100px;
    float: left;
    color: white;

}


.HM{
    font-size: 40px;    
}

.judulporto{
    font-size: 50px;
    text-decoration: 2px underline  darkorange;
    font-family: Arial, Helvetica, sans-serif;
}




section {
    height: 620px; /* Setiap section setinggi layar */
    width: 100%;
    padding: 20px;
}
#Home { background-color:rgb(0, 0, 0); 
width: 100%;
}

#about { background-color:rgb(0, 0, 0); 
width: 100%;
}
#profil{background-color: rgb(0, 0, 0);
width: 100%;
}
#galery { background-color:rgb(0, 0, 0); 
width: 100%;
}
#kontak{ background-color:rgb(0, 0, 0);
width: 100%;
}



mark{
    
    cursor: pointer;
}

abbr{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
   
}















body { font-family: sans-serif; margin: 0; }

.loader {
  width:215px;
  height: 215px;
  display: block;
  padding-left: 21px;
  margin-left: -30px;
  position: relative;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 7px 7px 30px darkorange;
  border-radius: 50px 50px 50px 0px;
}



  
.loader{
    float:left ;
    margin-right:30px;
    margin-bottom: 25px;
}



.bagportfolio,small{
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}





img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 30px;
}

input{
    width: 80%;
    height:10px;
    background-color: white;
}

.name{
    margin:2px 2px 2px 10px;
   margin-top: -10px;
}









.spinner {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
  border-right-color: darkorange;
  animation: l2  3s infinite linear;
}

.spinnerr {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
  border-right-color:darkorange;
  animation: l2 4s infinite linear;
}

.spinnerrr {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
  border-right-color: darkorange;
  animation: l2 5s infinite linear;
}

.spinner,.spinnerr,.spinnerrr{
    margin-top: 15px;
}
@keyframes l2 {to{transform: rotate(1turn)}}



.isian{
    width: 140px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
}





.isiann{
    width: 100px;
    background-color: darkorange;
    height:3px;
}

.hobi{
    color: white;
    margin-left: 100px;
}


.penjelasanhobi{
    color: rgb(0, 0, 0);
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
}

.small1{
    color: rgb(0, 0, 0);
    font-weight: 100;
}



#galerya{
    background-color: #000000;
}

.loader10 {
  width:215px;
  height: 215px;
  display: block;
  padding-left: 21px;
  margin-left: -30px;
  position: relative;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 7px 7px 30px darkorange;
  border-radius: 5px 50px 50px 50px;
}



  
.loader10{
    float:left ;
    margin-right:30px;
    margin-bottom: 25px;
}


.loader100 {
  width:215px;
  height: 215px;
  display: block;
  padding-left: 21px;
  margin-left: 58px;
  position: relative;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 7px 7px 30px darkorange;
  border-radius: 50px 5px 50px 50px;
}



  
.loader100{
    float:right ;
    margin-right:30px;
    margin-bottom: 25px;
}




.bagian11{
    padding-left: 300px;
}




.pengalaman{
    margin-left: 15px;
}





.akhir1{
    background-color: rgb(0, 0, 0);
    box-shadow: 7px 7px 30px 7px rgb(255, 255, 255);
width: 100%;
height: 400px;
margin: auto;
margin-top: 30px;
font-family: 'Courier New', Courier, monospace;

}

.penutup{
    color:white;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 100px;
   margin-left: 20px;

}


.tgl {
    color: white;
    font-size: 18px;
    padding-top: 10px;
    margin-left: 20px;
    
    
    
}

.logoo{
    color: white;
    margin: 80px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
     margin-top: 130px;
}


.marvel{
    color: white;
}





.puisi{
    color: white;
    text-align: left ;
    margin-top: 50px;
    font-size: 15px;
}


}






@media (min-width: 1201px) {
html{
    scroll-behavior: smooth;
      overflow-x: hidden;
    scrollbar-width: thin; /* Membuat scrollbar menjadi tipis */
    scrollbar-color: #ffffff #ffffff; /* Warna thumb dan track */

}



body{
    background-image: url(fotosatuan1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    z-index: 9000;
}


video{
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: transparent  ;
    background-color: darkorange; /* Warna background gelap */
    color: white;
    padding: 1rem 2rem;
    position: sticky;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9000;
    box-shadow: 0 7px 5px 0 rgb(63, 63, 63);
   
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* Styling Menu Links (Desktop) */
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
    
}

.nav-links li a:hover {
    color: #979393; /* Warna saat kursor di atas menu */
}

/* Styling Hamburger Icon (Hidden di Desktop) */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}




h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}


h2{
    margin: 20px 20px 20px 20px;
    padding-top: 100px;
    font-size: 100px;
    float: left;
    color: white;

}


.HM{
    font-size: 40px;    
}

.judulporto{
    font-size: 50px;
    text-decoration: 2px underline  darkorange;
    font-family: Arial, Helvetica, sans-serif;
}




section {
    height: 620px; /* Setiap section setinggi layar */
    width: 100%;
    padding: 20px;
}
#Home { background-color:rgb(0, 0, 0); 
width: 100%;
}

#about { background-color:rgb(0, 0, 0); 
width: 100%;
}
#profil{background-color: rgb(0, 0, 0);
width: 100%;
}
#galery { background-color:rgb(0, 0, 0); 
width: 100%;
}
#kontak{ background-color:rgb(0, 0, 0);
width: 100%;
}



mark{
    
    cursor: pointer;
}

abbr{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
   
}















body { font-family: sans-serif; margin: 0; }

.loader {
  width:215px;
  height: 215px;
  display: block;
  padding-left: 21px;
  margin-left: -30px;
  position: relative;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 7px 7px 30px darkorange;
  border-radius: 50px 50px 50px 0px;
}



  
.loader{
    float:left ;
    margin-right:30px;
    margin-bottom: 25px;
}



.bagportfolio,small{
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}





img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 30px;
}

input{
    width: 80%;
    height:10px;
    background-color: white;
}

.name{
    margin:2px 2px 2px 10px;
   margin-top: -10px;
}









.spinner {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
  border-right-color: darkorange;
  animation: l2  3s infinite linear;
}

.spinnerr {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
  border-right-color:darkorange;
  animation: l2 4s infinite linear;
}

.spinnerrr {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
  border-right-color: darkorange;
  animation: l2 5s infinite linear;
}

.spinner,.spinnerr,.spinnerrr{
    margin-top: 15px;
}
@keyframes l2 {to{transform: rotate(1turn)}}



.isian{
    width: 140px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
}





.isiann{
    width: 100px;
    background-color: darkorange;
    height:3px;
}

.hobi{
    color: white;
    margin-left: 100px;
}


.penjelasanhobi{
    color: rgb(0, 0, 0);
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
}

.small1{
    color: rgb(0, 0, 0);
    font-weight: 100;
}



#galerya{
    background-color: #000000;
}

.loader10 {
  width:215px;
  height: 215px;
  display: block;
  padding-left: 21px;
  margin-left: -30px;
  position: relative;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 7px 7px 30px darkorange;
  border-radius: 5px 50px 50px 50px;
}



  
.loader10{
    float:left ;
    margin-right:30px;
    margin-bottom: 25px;
}


.loader100 {
  width:215px;
  height: 215px;
  display: block;
  padding-left: 21px;
  margin-left: 58px;
  position: relative;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 7px 7px 30px darkorange;
  border-radius: 50px 5px 50px 50px;
}



  
.loader100{
    float:right;
    margin-right:30px;
    margin-bottom: 25px;
}




.bagian11{
    padding-left: 130px;
}




.pengalaman{
    margin-left: 15px;
}





.akhir1{
    background-color: rgb(0, 0, 0);
    box-shadow: 7px 7px 30px 7px rgb(255, 255, 255);
width: 100%;
height: 400px;
margin: auto;
margin-top: 30px;
font-family: 'Courier New', Courier, monospace;

}

.penutup{
    color:white;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 100px;
   margin-left: 20px;

}


.tgl {
    color: white;
    font-size: 18px;
    padding-top: 10px;
    margin-left: 20px;
    
    
    
}

.logoo{
    color: white;
    margin: 80px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
     margin-top: 130px;
}


.marvel{
    color: white;
}





.puisi{
    color: white;
    text-align: left ;
    margin-top: 50px;
    font-size: 15px;
}


}










@media (max-width: 768px) {
    .hamburger {
        display: block; /* Tampilkan hamburger di layar kecil */
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0; /* Hilangkan tengah */
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg); /* Animasi X atas */
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); /* Animasi X bawah */
    }

    /* Menu变成竖列 dan disembunyikan */
    .nav-links {
        position: absolute;
        top: 100%; /* Di bawah navbar */
        left: -100%; /* Semula di luar layar kiri */
        flex-direction: column;
        background-color: #252525;
        width: 75%;
        text-align: 50px left;
        transition: 0.3s;
        padding: 20px 0;
        height: 1000%;
        border-right: 2px  solid rgb(39, 39, 39);
        padding-left: 20px;
    }

    .nav-links.active {
        left: 0; /* Munculkan menu ke layar */
    }

    .nav-links li {
        margin: 15px 0;
    }
}